body {
   font-family: Ubuntu;
}

div.logo {
   color: white;
   text-align: center;
   border-style: solid;
   border-width: thick;
   border-color: MediumSeaGreen;
   background-color: DodgerBlue;
}

div.foot {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: yellow;
  color: black;
  text-align: center;
}

marquee {
        width: 100%;
        padding: 10px 0;
        background-color: tomato;
        color: white;
}
