
body {
    font-family: 'Ubuntu';font-size: 22px;
}

div.logo {
   color: white;
   text-align: center;
   border-style: solid;
   border-width: thick;
   border-color: MediumSeaGreen;
   background-color: DodgerBlue;
}

div.foot {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: yellow;
  color: black;
  text-align: center;
}

marquee {
        width: 100%;
        padding: 10px 0;
        background-color: tomato;
        color: white;
}


html {
  
  background-image: url("img/1653714827458.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
